.sparkline-chart .apexcharts-canvas {
  background: transparent;
  color: #12142B !important;
}
.apexcharts-tooltip.light {
  color: #000000;
}
.apexcharts-tooltip span {
	color: #12142B !important;
}
